.navbar {
  .nav-link {
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #0d6efd;
    }
  }

  .navbar-brand {
    color: #198754;
    font-weight: 600;
    &:hover {
      color: #0d6efd;
    }
  }
}
