<div class="container text-center mt-5">
  <h1 class="display-4 text-primary mb-4">Portal Pacientes</h1>
  

  <div class="d-grid gap-3 col-6 mx-auto mt-5">
    <button class="btn btn-primary btn-lg" routerLink="/registrar">Ingresar</button>


    <button class="btn btn-outline-secondary btn-lg">Descargar instructivos</button>
    <button class="btn btn-outline-info btn-lg">Ver video ejemplo</button>
  </div>

  <div class="alert alert-info mt-5" role="alert">
    Recordá tener a mano documento antes de ingresar y Tene en cuenta la contraseña anteriormente establecida.
  </div>
</div>

