.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
h3 {
  font-weight: 600;
}
button {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.card {
  border-radius: 10px;
  background-color: #ffffff;
}

button {
  font-weight: bold;
}

a {
  color: #007bff;
  transition: 0.2s;
}

a:hover {
  color: #0056b3;
}
.login-page {
  position: relative;
  width: 60%;
  height: 60vh; /* pantalla completa */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* mantiene proporción */
  object-position: left center; /* foco en lado izquierdo */
  opacity: 0.25; /* transparencia */
  z-index: -1; /* detrás del contenido */
  pointer-events: none; /* evita bloquear clics */
  filter: brightness(0.9);
}

.form-container {
  position: relative;
  z-index: 1; /* encima del fondo */
  background: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
