.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
h3 {
  font-weight: 600;
}
button {
  font-weight: 500;
  letter-spacing: 0.5px;
}
