 <!-- 🔹 Imagen de fondo -->
  <img src="/icons/imagally.png" alt="Fondo Login" class="login-background" />
<div class="container mt-5" style="max-width: 400px;">
  <h2 class="text-center mb-4">Iniciar Sesión</h2>
   <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input id="email" [(ngModel)]="email" name="email" type="email" class="form-control" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input id="password" [(ngModel)]="password" name="password" type="password" class="form-control" required />
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    <!-- 🔹 Mensaje de “Olvidó su contraseña” -->
      <div class="text-center mb-3">
        <a href="#" (click)="onForgotPassword()" class="text-decoration-none">¿Olvidó su Contraseña?</a>
      </div>

      <!-- 🔹 Botón que redirige al registro -->
      <button type="button" class="btn btn-info w-100" (click)="goToRegister()">Registrarse</button>
  </form>
</div>


