<div class="container">

  <h2>Discapacidad Física</h2>

  <button class="btn-volver" (click)="volver()">
    ← Volver al menú
  </button>

  <div class="card">
   
    <img src="/icons/discapacidad-fisica.png"alt="ALLY" />

    

    

    <div class="texto">

      <p>
        La discapacidad física puede estar asociada a diversas afecciones que afectan el movimiento, 
        la fuerza, la coordinación o el funcionamiento de órganos y sistemas del cuerpo. Estas condiciones 
        pueden ser congénitas (presentes desde el nacimiento) o adquiridas a lo largo de la vida por enfermedad, 
        lesión o envejecimiento.
      </p>

      <h3>Afecciones más frecuentes asociadas a la discapacidad física</h3>

      <ul>
        <li><b>Lesiones neurológicas:</b> como la Parálisis cerebral, la Esclerosis múltiple o las lesiones medulares. 
        Pueden provocar debilidad muscular, problemas de equilibrio o parálisis parcial o total.</li>

        <li><b>Enfermedades musculares:</b> por ejemplo, la Distrofia muscular, que causa un deterioro progresivo 
        de la fuerza y limita la movilidad.</li>

        <li><b>Afecciones articulares y óseas:</b> como la Artritis reumatoide o la Osteogénesis imperfecta, 
        que pueden generar dolor, fragilidad ósea o dificultad para desplazarse.</li>

        <li><b>Amputaciones:</b> la pérdida de una extremidad, ya sea por accidentes, enfermedades vasculares u otras 
        causas, puede requerir el uso de prótesis y procesos de rehabilitación.</li>

        <li><b>Enfermedades orgánicas crónicas:</b> como la Fibrosis quística o la Enfermedad pulmonar obstructiva 
        crónica (EPOC), que afectan la resistencia física y la capacidad funcional.</li>

        <li><b>Secuelas de eventos médicos graves:</b> por ejemplo, un Accidente cerebrovascular puede dejar 
        dificultades motoras, alteraciones en la coordinación o limitaciones en la independencia.</li>
      </ul>

    </div>
  </div>
</div>